{"swagger":"2.0","info":{"description":"Api Documentation","version":"1.0","title":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"app.subscreasy.com","basePath":"/","tags":[{"name":"account-resource","description":"Account Resource"},{"name":"analytics-resource","description":"Analytics Resource"},{"name":"bank-account-resource","description":"Bank Account Resource"},{"name":"card-resource","description":"Card Resource"},{"name":"charging-log-resource","description":"Charging Log Resource"},{"name":"company-props-resource","description":"Company Props Resource"},{"name":"company-resource","description":"Company Resource"},{"name":"coupon-resource","description":"Coupon Resource"},{"name":"endpoints","description":"Endpoints"},{"name":"endpoints-no-auth","description":"Endpoints No Auth"},{"name":"history-resource","description":"History Resource"},{"name":"invoice-resource","description":"Invoice Resource"},{"name":"message-template-resource","description":"Message Template Resource"},{"name":"offer-resource","description":"Offer Resource"},{"name":"order-resource","description":"Order Resource"},{"name":"payment-resource","description":"Payment Resource"},{"name":"profile-info-resource","description":"Profile Info Resource"},{"name":"saved-card-resource","description":"Saved Card Resource"},{"name":"service-instance-resource","description":"Service Instance Resource"},{"name":"service-offering-resource","description":"Service Offering Resource"},{"name":"service-resource","description":"Service Resource"},{"name":"subscriber-resource","description":"Subscriber Resource"},{"name":"subscription-resource","description":"Subscription Resource"},{"name":"user-jwt-controller","description":"User JWT Controller"},{"name":"user-resource","description":"User Resource"},{"name":"web-hook-resource","description":"Web Hook Resource"}],"paths":{"/api/analytics/dashboard":{"get":{"tags":["analytics-resource"],"summary":"getDashboardAnalytics","operationId":"getDashboardAnalyticsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/authenticate":{"get":{"tags":["account-resource"],"summary":"isAuthenticated","operationId":"isAuthenticatedUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["user-jwt-controller"],"summary":"authorize","operationId":"authorizeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"loginVM","description":"loginVM","required":true,"schema":{"$ref":"#/definitions/LoginVM"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/authorize":{"put":{"tags":["endpoints"],"summary":"authorize","operationId":"authorizeUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"authorization","description":"authorization","required":true,"schema":{"$ref":"#/definitions/Authorization"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/bank-accounts":{"get":{"tags":["bank-account-resource"],"summary":"getAllBankAccounts","operationId":"getAllBankAccountsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BankAccount"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["bank-account-resource"],"summary":"createBankAccount","operationId":"createBankAccountUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"bankAccount","description":"bankAccount","required":true,"schema":{"$ref":"#/definitions/BankAccount"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankAccount"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["bank-account-resource"],"summary":"updateBankAccount","operationId":"updateBankAccountUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"bankAccount","description":"bankAccount","required":true,"schema":{"$ref":"#/definitions/BankAccount"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankAccount"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/bank-accounts/company/{companyId}":{"get":{"tags":["bank-account-resource"],"summary":"getBankAccountsByCompany","operationId":"getBankAccountsByCompanyUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"companyId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BankAccount"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/bank-accounts/{id}":{"get":{"tags":["bank-account-resource"],"summary":"getBankAccount","operationId":"getBankAccountUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankAccount"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["bank-account-resource"],"summary":"deleteBankAccount","operationId":"deleteBankAccountUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/card/subscriber":{"post":{"tags":["card-resource"],"summary":"saveCardForSubscriber","operationId":"saveCardForSubscriberUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SaveCardRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SavedCard"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/card/subscription":{"post":{"tags":["card-resource"],"summary":"saveCardForSubscription","operationId":"saveCardForSubscriptionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SaveCardRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SavedCard"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/charging-logs":{"get":{"tags":["charging-log-resource"],"summary":"getAllChargingLogs","operationId":"getAllChargingLogsUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ChargingLog"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["charging-log-resource"],"summary":"createChargingLog","operationId":"createChargingLogUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"chargingLog","description":"chargingLog","required":true,"schema":{"$ref":"#/definitions/ChargingLog"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChargingLog"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["charging-log-resource"],"summary":"updateChargingLog","operationId":"updateChargingLogUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"chargingLog","description":"chargingLog","required":true,"schema":{"$ref":"#/definitions/ChargingLog"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChargingLog"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/charging-logs-totalamount-customer/{id}":{"get":{"tags":["endpoints"],"summary":"getTotalRevenuePerMonth","operationId":"getTotalRevenuePerMonthUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/charging-logs/refund/{chargingLogId}":{"post":{"tags":["charging-log-resource"],"summary":"refund","operationId":"refundUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chargingLogId","in":"path","description":"chargingLogId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChargingLog"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/charging-logs/status/{status}":{"get":{"tags":["charging-log-resource"],"summary":"getChargingLogsByStatus","operationId":"getChargingLogsByStatusUsingGET","produces":["*/*"],"parameters":[{"name":"status","in":"path","description":"status","required":true,"type":"string"},{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ChargingLog"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/charging-logs/subscriber/id/{subscriberId}":{"get":{"tags":["charging-log-resource"],"summary":"getPaymentsBySubscriberId","operationId":"getPaymentsBySubscriberIdUsingGET","produces":["*/*"],"parameters":[{"name":"subscriberId","in":"path","description":"subscriberId","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ChargingLog"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/charging-logs/subscriber/m/{merchantSubscriberId}":{"get":{"tags":["charging-log-resource"],"summary":"getPaymentsByMerchantSubscriberId","operationId":"getPaymentsByMerchantSubscriberIdUsingGET","produces":["*/*"],"parameters":[{"name":"merchantSubscriberId","in":"path","description":"merchantSubscriberId","required":true,"type":"string"},{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ChargingLog"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/charging-logs/subscriber/{subscriberSecureId}":{"get":{"tags":["charging-log-resource"],"summary":"getPaymentsBySubscriberId","operationId":"getPaymentsBySubscriberIdUsingGET_1","produces":["*/*"],"parameters":[{"name":"subscriberSecureId","in":"path","description":"subscriberSecureId","required":true,"type":"string"},{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ChargingLog"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/charging-logs/subscription/{id}":{"get":{"tags":["charging-log-resource"],"summary":"getPaymentsBySubscription","operationId":"getPaymentsBySubscriptionUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ChargingLog"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/charging-logs/{id}":{"get":{"tags":["charging-log-resource"],"summary":"getChargingLog","operationId":"getChargingLogUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChargingLog"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["charging-log-resource"],"summary":"deleteChargingLog","operationId":"deleteChargingLogUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/companies":{"get":{"tags":["company-resource"],"summary":"getAllCompanies","operationId":"getAllCompaniesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Company"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["company-resource"],"summary":"createCompany","operationId":"createCompanyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"company","description":"company","required":true,"schema":{"$ref":"#/definitions/Company"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Company"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["company-resource"],"summary":"updateCompany","operationId":"updateCompanyUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"company","description":"company","required":true,"schema":{"$ref":"#/definitions/Company"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Company"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/companies/{id}":{"get":{"tags":["company-resource"],"summary":"getCompany","operationId":"getCompanyUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Company"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["company-resource"],"summary":"deleteCompany","operationId":"deleteCompanyUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/company-props":{"get":{"tags":["company-props-resource"],"summary":"getAllCompanyProps","operationId":"getAllCompanyPropsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CompanyProps"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["company-props-resource"],"summary":"createCompanyProps","operationId":"createCompanyPropsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"companyProps","description":"companyProps","required":true,"schema":{"$ref":"#/definitions/CompanyProps"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyProps"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["company-props-resource"],"summary":"updateCompanyProps","operationId":"updateCompanyPropsUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"companyProps","description":"companyProps","required":true,"schema":{"$ref":"#/definitions/CompanyProps"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyProps"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/company-props/company/{companyId}":{"get":{"tags":["company-props-resource"],"summary":"getCompanyPropsByCompanyId","operationId":"getCompanyPropsByCompanyIdUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"companyId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyProps"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/company-props/uploadCSS":{"post":{"tags":["company-props-resource"],"summary":"uploadCSS","operationId":"uploadCSSUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/company-props/uploadFile":{"post":{"tags":["company-props-resource"],"summary":"uploadFile","operationId":"uploadFileUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/company-props/{id}":{"delete":{"tags":["company-props-resource"],"summary":"deleteCompanyProps","operationId":"deleteCompanyPropsUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/coupons":{"get":{"tags":["coupon-resource"],"summary":"getAllCoupons","operationId":"getAllCouponsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Coupon"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["coupon-resource"],"summary":"createCoupon","operationId":"createCouponUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"coupon","description":"coupon","required":true,"schema":{"$ref":"#/definitions/Coupon"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Coupon"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["coupon-resource"],"summary":"updateCoupon","operationId":"updateCouponUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"coupon","description":"coupon","required":true,"schema":{"$ref":"#/definitions/Coupon"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Coupon"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/coupons/{id}":{"get":{"tags":["coupon-resource"],"summary":"getCoupon","operationId":"getCouponUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Coupon"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["coupon-resource"],"summary":"deleteCoupon","operationId":"deleteCouponUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/customer-totalAmountCharge/{id}":{"get":{"tags":["endpoints"],"summary":"getCustomerTotalAmount","operationId":"getCustomerTotalAmountUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/deduct":{"put":{"tags":["endpoints"],"summary":"deduct","operationId":"deductUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deduction","description":"deduction","required":true,"schema":{"$ref":"#/definitions/Deduction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeductionResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/getInvoiceDetails":{"get":{"tags":["endpoints"],"summary":"getInvoiceDetails","operationId":"getInvoiceDetailsUsingGET","produces":["*/*"],"parameters":[{"in":"body","name":"invoiceRequest","description":"invoiceRequest","required":true,"schema":{"$ref":"#/definitions/InvoiceRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/histories":{"get":{"tags":["history-resource"],"summary":"getAllHistories","operationId":"getAllHistoriesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/History"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["history-resource"],"summary":"createHistory","operationId":"createHistoryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"history","description":"history","required":true,"schema":{"$ref":"#/definitions/History"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/History"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["history-resource"],"summary":"updateHistory","operationId":"updateHistoryUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"history","description":"history","required":true,"schema":{"$ref":"#/definitions/History"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/History"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/histories/{id}":{"get":{"tags":["history-resource"],"summary":"getHistory","operationId":"getHistoryUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/History"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["history-resource"],"summary":"deleteHistory","operationId":"deleteHistoryUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/invoices":{"get":{"tags":["invoice-resource"],"summary":"getAllInvoices","operationId":"getAllInvoicesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Invoice"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["invoice-resource"],"summary":"createInvoice","operationId":"createInvoiceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"invoice","description":"invoice","required":true,"schema":{"$ref":"#/definitions/Invoice"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Invoice"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["invoice-resource"],"summary":"updateInvoice","operationId":"updateInvoiceUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"invoice","description":"invoice","required":true,"schema":{"$ref":"#/definitions/Invoice"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Invoice"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/invoices/subscriber/{subscriberSecureId}":{"get":{"tags":["invoice-resource"],"summary":"getInvoiceBySubscriber","operationId":"getInvoiceBySubscriberUsingGET","produces":["*/*"],"parameters":[{"name":"subscriberSecureId","in":"path","description":"subscriberSecureId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Invoice"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/invoices/{id}":{"get":{"tags":["invoice-resource"],"summary":"getInvoice","operationId":"getInvoiceUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Invoice"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["invoice-resource"],"summary":"deleteInvoice","operationId":"deleteInvoiceUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/message-templates":{"get":{"tags":["message-template-resource"],"summary":"getAllMessageTemplates","operationId":"getAllMessageTemplatesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MessageTemplate"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["message-template-resource"],"summary":"createMessageTemplate","operationId":"createMessageTemplateUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"messageTemplate","description":"messageTemplate","required":true,"schema":{"$ref":"#/definitions/MessageTemplate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageTemplate"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["message-template-resource"],"summary":"updateMessageTemplate","operationId":"updateMessageTemplateUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"messageTemplate","description":"messageTemplate","required":true,"schema":{"$ref":"#/definitions/MessageTemplate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageTemplate"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/message-templates/email/{lifecycleEventName}":{"get":{"tags":["endpoints"],"summary":"getMessageTemplate","operationId":"getMessageTemplateUsingGET","produces":["*/*"],"parameters":[{"name":"lifecycleEventName","in":"path","description":"lifecycleEventName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageTemplate"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/message-templates/{id}":{"get":{"tags":["message-template-resource"],"summary":"getMessageTemplate","operationId":"getMessageTemplateUsingGET_1","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageTemplate"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["message-template-resource"],"summary":"deleteMessageTemplate","operationId":"deleteMessageTemplateUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/offers":{"get":{"tags":["offer-resource"],"summary":"getAllOffers","operationId":"getAllOffersUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Offer"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["offer-resource"],"summary":"createOffer","operationId":"createOfferUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"offer","description":"offer","required":true,"schema":{"$ref":"#/definitions/Offer"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Offer"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["offer-resource"],"summary":"updateOffer","operationId":"updateOfferUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"offer","description":"offer","required":true,"schema":{"$ref":"#/definitions/Offer"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Offer"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/offers/archive/{id}":{"put":{"tags":["offer-resource"],"summary":"archiveOffer","operationId":"archiveOfferUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/offers/sendOfferPriceChangedEmail/{offerId}":{"put":{"tags":["offer-resource"],"summary":"sendOfferPriceChangedEmail","operationId":"sendOfferPriceChangedEmailUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"offerId","in":"path","description":"offerId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/offers/uploadFile/{offerId}":{"post":{"tags":["offer-resource"],"summary":"uploadFile","operationId":"uploadFileUsingPOST_1","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"},{"name":"offerId","in":"path","description":"offerId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Offer"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/offers/{id}":{"get":{"tags":["offer-resource"],"summary":"getOffer","operationId":"getOfferUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Offer"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["offer-resource"],"summary":"deleteOffer","operationId":"deleteOfferUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/orders":{"get":{"tags":["order-resource"],"summary":"getAllOrders","operationId":"getAllOrdersUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Order"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["order-resource"],"summary":"createOrder","operationId":"createOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"order","description":"order","required":true,"schema":{"$ref":"#/definitions/Order"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Order"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["order-resource"],"summary":"updateOrder","operationId":"updateOrderUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"order","description":"order","required":true,"schema":{"$ref":"#/definitions/Order"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Order"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/orders/{id}":{"get":{"tags":["order-resource"],"summary":"getOrder","operationId":"getOrderUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Order"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["order-resource"],"summary":"deleteOrder","operationId":"deleteOrderUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/pay/by-saved-card":{"post":{"tags":["payment-resource"],"summary":"chargeUsingSavedCard","operationId":"chargeUsingSavedCardUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/StartSubscriptionRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/pay/create-payment":{"post":{"tags":["payment-resource"],"summary":"createPayment","operationId":"createPaymentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/StartSubscriptionRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/profile-info":{"get":{"tags":["profile-info-resource"],"summary":"getActiveProfiles","operationId":"getActiveProfilesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProfileInfoVM"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/register":{"post":{"tags":["account-resource"],"summary":"registerAccount","operationId":"registerAccountUsingPOST","consumes":["application/json"],"produces":["application/json","text/plain"],"parameters":[{"in":"body","name":"managedUserVM","description":"managedUserVM","required":true,"schema":{"$ref":"#/definitions/UserDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/saved-cards":{"get":{"tags":["saved-card-resource"],"summary":"getAllCards","operationId":"getAllCardsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SavedCard"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["saved-card-resource"],"summary":"createCard","operationId":"createCardUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"card","description":"card","required":true,"schema":{"$ref":"#/definitions/SavedCard"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SavedCard"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["saved-card-resource"],"summary":"updateCard","operationId":"updateCardUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"card","description":"card","required":true,"schema":{"$ref":"#/definitions/SavedCard"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SavedCard"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/saved-cards/{id}":{"get":{"tags":["saved-card-resource"],"summary":"getCard","operationId":"getCardUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SavedCard"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["saved-card-resource"],"summary":"deleteCard","operationId":"deleteCardUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/service-instances":{"get":{"tags":["service-instance-resource"],"summary":"getAllServiceInstances","operationId":"getAllServiceInstancesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceInstance"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["service-instance-resource"],"summary":"createServiceInstance","operationId":"createServiceInstanceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"serviceInstance","description":"serviceInstance","required":true,"schema":{"$ref":"#/definitions/ServiceInstance"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceInstance"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["service-instance-resource"],"summary":"updateServiceInstance","operationId":"updateServiceInstanceUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"serviceInstance","description":"serviceInstance","required":true,"schema":{"$ref":"#/definitions/ServiceInstance"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceInstance"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/service-instances/subscription/{id}":{"get":{"tags":["endpoints"],"summary":"getServiceInstancesBySubscription","operationId":"getServiceInstancesBySubscriptionUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceInstanceResult"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/service-instances/{id}":{"get":{"tags":["service-instance-resource"],"summary":"getServiceInstance","operationId":"getServiceInstanceUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceInstance"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["service-instance-resource"],"summary":"deleteServiceInstance","operationId":"deleteServiceInstanceUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/service-offerings":{"get":{"tags":["service-offering-resource"],"summary":"getAllServiceOfferings","operationId":"getAllServiceOfferingsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceOffering"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["service-offering-resource"],"summary":"createServiceOffering","operationId":"createServiceOfferingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"serviceOffering","description":"serviceOffering","required":true,"schema":{"$ref":"#/definitions/ServiceOffering"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceOffering"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["service-offering-resource"],"summary":"updateServiceOffering","operationId":"updateServiceOfferingUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"serviceOffering","description":"serviceOffering","required":true,"schema":{"$ref":"#/definitions/ServiceOffering"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceOffering"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/service-offerings/offer/{id}":{"get":{"tags":["endpoints"],"summary":"getServiceOfferingsBySubscriptionPlan","operationId":"getServiceOfferingsBySubscriptionPlanUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceOfferingResult"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/service-offerings/{id}":{"get":{"tags":["service-offering-resource"],"summary":"getServiceOffering","operationId":"getServiceOfferingUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceOffering"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["service-offering-resource"],"summary":"deleteServiceOffering","operationId":"deleteServiceOfferingUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/service/subscriber/{secureId}":{"get":{"tags":["endpoints"],"summary":"getAuthorizedServices","operationId":"getAuthorizedServicesUsingGET","produces":["*/*"],"parameters":[{"name":"secureId","in":"path","description":"secureId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthorizedServicesResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/services":{"get":{"tags":["service-resource"],"summary":"getAllServices","operationId":"getAllServicesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Service"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["service-resource"],"summary":"createService","operationId":"createServiceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"service","description":"service","required":true,"schema":{"$ref":"#/definitions/Service"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Service"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["service-resource"],"summary":"updateService","operationId":"updateServiceUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"service","description":"service","required":true,"schema":{"$ref":"#/definitions/Service"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Service"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/services/{id}":{"get":{"tags":["service-resource"],"summary":"getService","operationId":"getServiceUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Service"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["service-resource"],"summary":"deleteService","operationId":"deleteServiceUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/subscribers":{"get":{"tags":["subscriber-resource"],"summary":"getAllSubscribers","operationId":"getAllSubscribersUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Subscriber"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["subscriber-resource"],"summary":"createSubscriber","operationId":"createSubscriberUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"subscriber","description":"subscriber","required":true,"schema":{"$ref":"#/definitions/Subscriber"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Subscriber"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["subscriber-resource"],"summary":"updateSubscriber","operationId":"updateSubscriberUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"subscriber","description":"subscriber","required":true,"schema":{"$ref":"#/definitions/Subscriber"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Subscriber"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscribers/email/{email}":{"get":{"tags":["subscriber-resource"],"summary":"getSubscriberByEmail","operationId":"getSubscriberByEmailUsingGET","produces":["*/*"],"parameters":[{"name":"email","in":"path","description":"email","required":true,"type":"string"},{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Subscriber"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscribers/find-all":{"get":{"tags":["subscriber-resource"],"summary":"findAllSubscribers","operationId":"findAllSubscribersUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Subscriber"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscribers/name/{name}":{"get":{"tags":["subscriber-resource"],"summary":"getSubscriberByName","operationId":"getSubscriberByNameUsingGET","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Subscriber"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscribers/secureId/{secureId}":{"get":{"tags":["subscriber-resource"],"summary":"getSubscriberBySecureId","operationId":"getSubscriberBySecureIdUsingGET","produces":["*/*"],"parameters":[{"name":"secureId","in":"path","description":"secureId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Subscriber"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscribers/{id}":{"get":{"tags":["subscriber-resource"],"summary":"getSubscriber","operationId":"getSubscriberUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Subscriber"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["subscriber-resource"],"summary":"deleteSubscriber","operationId":"deleteSubscriberUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/cancel":{"put":{"tags":["subscription-resource"],"summary":"cancelSubscription","operationId":"cancelSubscriptionUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"cancellation","description":"cancellation","required":true,"schema":{"$ref":"#/definitions/Cancellation"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Subsription"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/change-payment-method/{subscriptionId}":{"put":{"tags":["subscription-resource"],"summary":"changePaymentMethod","operationId":"changePaymentMethodUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"subscriptionId","in":"path","description":"subscriptionId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Subsription"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/charge/{subscriptionId}":{"put":{"tags":["subscription-resource"],"summary":"chargeEarly","operationId":"chargeEarlyUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"subscriptionId","in":"path","description":"subscriptionId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Job"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/company/{id}":{"get":{"tags":["subscription-resource"],"summary":"getAllCompanySubscriptions","operationId":"getAllCompanySubscriptionsUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Subsription"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/offer/{id}":{"get":{"tags":["subscription-resource"],"summary":"getAllSubscriptionsByOffer","operationId":"getAllSubscriptionsByOfferUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Subsription"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/start":{"post":{"tags":["subscription-resource"],"summary":"startSubscription","operationId":"startSubscriptionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/StartSubscriptionRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StartSubscriptionResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/status/{status}":{"get":{"tags":["subscription-resource"],"summary":"getSubscriptionsByStatus","operationId":"getSubscriptionsByStatusUsingGET","produces":["*/*"],"parameters":[{"name":"status","in":"path","description":"status","required":true,"type":"string"},{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Subsription"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/subscriber/email/{email}":{"get":{"tags":["subscription-resource"],"summary":"getActiveSubscriptionsByEmail","operationId":"getActiveSubscriptionsByEmailUsingGET","produces":["*/*"],"parameters":[{"name":"email","in":"path","description":"email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Subsription"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/subscriber/m/{merchantSubscriberId}":{"get":{"tags":["subscription-resource"],"summary":"getSubscriptionsByMerchantSubscriberId","operationId":"getSubscriptionsByMerchantSubscriberIdUsingGET","produces":["*/*"],"parameters":[{"name":"merchantSubscriberId","in":"path","description":"merchantSubscriberId","required":true,"type":"string"},{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Subsription"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/subscriber/{secureId}":{"get":{"tags":["subscription-resource"],"summary":"getActiveSubscriptions","operationId":"getActiveSubscriptionsUsingGET","produces":["*/*"],"parameters":[{"name":"secureId","in":"path","description":"secureId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Subsription"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/switch":{"put":{"tags":["subscription-resource"],"summary":"switchSubscription","operationId":"switchSubscriptionUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"switchRequest","description":"switchRequest","required":true,"schema":{"$ref":"#/definitions/SubscriptionSwitch"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SwitchSubscriptionResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/subscriptions/{id}":{"get":{"tags":["subscription-resource"],"summary":"getSubscription","operationId":"getSubscriptionUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Subsription"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/users":{"get":{"tags":["user-resource"],"summary":"getAllUsers","operationId":"getAllUsersUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/User"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["user-resource"],"summary":"createUser","operationId":"createUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"managedUserVM","description":"managedUserVM","required":true,"schema":{"$ref":"#/definitions/ManagedUserVM"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["user-resource"],"summary":"updateUser","operationId":"updateUserUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"managedUserVM","description":"managedUserVM","required":true,"schema":{"$ref":"#/definitions/ManagedUserVM"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/users/authorities":{"get":{"tags":["user-resource"],"summary":"getAuthorities","operationId":"getAuthoritiesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/users/company":{"get":{"tags":["user-resource"],"summary":"getAllUsersByAuthenticatedCompany","operationId":"getAllUsersByAuthenticatedCompanyUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/User"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["user-resource"],"summary":"createCompanyUser","operationId":"createCompanyUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"managedUserVM","description":"managedUserVM","required":true,"schema":{"$ref":"#/definitions/ManagedUserVM"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/users/company/{companyId}":{"get":{"tags":["user-resource"],"summary":"getAllUsersByCompanyId","operationId":"getAllUsersByCompanyIdUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"companyId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/User"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/users/{login}":{"get":{"tags":["user-resource"],"summary":"getUser","operationId":"getUserUsingGET","produces":["*/*"],"parameters":[{"name":"login","in":"path","description":"login","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["user-resource"],"summary":"deleteUser","operationId":"deleteUserUsingDELETE","produces":["*/*"],"parameters":[{"name":"login","in":"path","description":"login","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/api/web-hooks":{"get":{"tags":["web-hook-resource"],"summary":"getAllWebHooks","operationId":"getAllWebHooksUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WebHook"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"post":{"tags":["web-hook-resource"],"summary":"createWebHook","operationId":"createWebHookUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"webHook","description":"webHook","required":true,"schema":{"$ref":"#/definitions/WebHook"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebHook"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"put":{"tags":["web-hook-resource"],"summary":"updateWebHook","operationId":"updateWebHookUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"webHook","description":"webHook","required":true,"schema":{"$ref":"#/definitions/WebHook"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebHook"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]}},"/api/web-hooks/{id}":{"get":{"tags":["web-hook-resource"],"summary":"getWebHook","operationId":"getWebHookUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebHook"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["web-hook-resource"],"summary":"deleteWebHook","operationId":"deleteWebHookUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"apiKey":["global"]}]}},"/na/subscription/start/4ds":{"post":{"tags":["endpoints-no-auth"],"summary":"startSubscription3ds","operationId":"startSubscription3dsUsingPOST","consumes":["application/x-www-form-urlencoded;charset=UTF-8"],"produces":["text/html;charset=UTF-8"],"parameters":[{"name":"offer.recurrence.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"offer.recurrence.recurrenceType","in":"query","required":false,"type":"string","enum":["SECONDLY","MINUTELY","HOURLY","DAILY","WEEKLY","MONTHLY","YEARLY"]},{"name":"offer.recurrence.length","in":"query","required":false,"type":"integer","format":"int64"},{"name":"offer.company.address.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"offer.company.address.name","in":"query","required":false,"type":"string"},{"name":"offer.company.address.streetAddress","in":"query","required":false,"type":"string"},{"name":"offer.company.address.postalCode","in":"query","required":false,"type":"string"},{"name":"offer.company.address.city","in":"query","required":false,"type":"string"},{"name":"offer.company.address.stateProvince","in":"query","required":false,"type":"string"},{"name":"offer.company.address.country","in":"query","required":false,"type":"string"},{"name":"offer.company.address.companyId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"offer.company.companyProps.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"offer.company.companyProps.callbackUrl","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.logoPath","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.hostedPageCSSPath","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.privacyPolicyUrl","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.subscreasyApiKey","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.subscreasySecureKey","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.paymentGateway","in":"query","required":false,"type":"string","enum":["OFFLINE","IYZICO","PAYU","PAYTR","MOBILEXPRESS","AKTIFBANK"]},{"name":"offer.company.companyProps.mobilePaymentGateway","in":"query","required":false,"type":"string","enum":["DISABLED","WIRECARD"]},{"name":"offer.company.companyProps.wirecardUserCode","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.wirecardPin","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.wirecardTurkcellServisId","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.wirecardSuccessfulMessage","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.wirecardErrorMessage","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.paymentGatewayApiKey","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.paymentGatewaySecurityKey","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.payuMerchantKeyRenewals","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.payuSecretKeyRenewals","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.paytrMerchantId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offer.company.companyProps.mobilExpressMerchantKey","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.mobilExpressApiPassword","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.mobilExpressPosid","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offer.company.companyProps.aktifbankClientId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offer.company.companyProps.aktifbankName","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.aktifbankPassword","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.aktifbankClientIdForSaveCard","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offer.company.companyProps.aktifbankNameForSaveCard","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.aktifbankPasswordForSaveCard","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.aktifbankEncryptionKey","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.billingDate","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offer.company.companyProps.billingThresholdDays","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offer.company.companyProps.domainName","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.contactEmail","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.sendDailyReports","in":"query","required":false,"type":"string"},{"name":"offer.company.companyProps.retryCount","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offer.company.companyProps.retryPeriod","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offer.company.companyProps.notifyNewSubscription","in":"query","required":false,"type":"boolean"},{"name":"offer.company.companyProps.notifyRenewal","in":"query","required":false,"type":"boolean"},{"name":"offer.company.companyProps.notifySubscriptionCancellation","in":"query","required":false,"type":"boolean"},{"name":"offer.company.companyProps.branding","in":"query","required":false,"type":"boolean"},{"name":"offer.company.companyProps.billingInformationMandatory","in":"query","required":false,"type":"boolean"},{"name":"offer.company.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"offer.company.name","in":"query","required":false,"type":"string"},{"name":"offer.company.siteName","in":"query","required":false,"type":"string"},{"name":"offer.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"offer.secureId","in":"query","required":false,"type":"string"},{"name":"offer.name","in":"query","required":false,"type":"string"},{"name":"offer.description","in":"query","required":false,"type":"string"},{"name":"offer.price","in":"query","required":false,"type":"number"},{"name":"offer.currency","in":"query","required":false,"type":"string","enum":["TRY","USD"]},{"name":"offer.multiplePurchase","in":"query","required":false,"type":"boolean"},{"name":"offer.recurrenceCount","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offer.trialPeriod","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offer.productType","in":"query","required":false,"type":"string","enum":["PHYSICAL","SERVICE"]},{"name":"offer.renewalType","in":"query","required":false,"type":"string","enum":["BILLCYCLE","START_DATE"]},{"name":"offer.disablePaymentForm","in":"query","required":false,"type":"boolean"},{"name":"offer.createDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"offer.imagePath","in":"query","required":false,"type":"string"},{"name":"subscriber.billingAddress.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriber.billingAddress.name","in":"query","required":false,"type":"string"},{"name":"subscriber.billingAddress.streetAddress","in":"query","required":false,"type":"string"},{"name":"subscriber.billingAddress.postalCode","in":"query","required":false,"type":"string"},{"name":"subscriber.billingAddress.city","in":"query","required":false,"type":"string"},{"name":"subscriber.billingAddress.stateProvince","in":"query","required":false,"type":"string"},{"name":"subscriber.billingAddress.country","in":"query","required":false,"type":"string"},{"name":"subscriber.billingAddress.companyId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriber.shippingAddress.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriber.shippingAddress.name","in":"query","required":false,"type":"string"},{"name":"subscriber.shippingAddress.streetAddress","in":"query","required":false,"type":"string"},{"name":"subscriber.shippingAddress.postalCode","in":"query","required":false,"type":"string"},{"name":"subscriber.shippingAddress.city","in":"query","required":false,"type":"string"},{"name":"subscriber.shippingAddress.stateProvince","in":"query","required":false,"type":"string"},{"name":"subscriber.shippingAddress.country","in":"query","required":false,"type":"string"},{"name":"subscriber.shippingAddress.companyId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriber.company.address.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriber.company.address.name","in":"query","required":false,"type":"string"},{"name":"subscriber.company.address.streetAddress","in":"query","required":false,"type":"string"},{"name":"subscriber.company.address.postalCode","in":"query","required":false,"type":"string"},{"name":"subscriber.company.address.city","in":"query","required":false,"type":"string"},{"name":"subscriber.company.address.stateProvince","in":"query","required":false,"type":"string"},{"name":"subscriber.company.address.country","in":"query","required":false,"type":"string"},{"name":"subscriber.company.address.companyId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriber.company.companyProps.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriber.company.companyProps.callbackUrl","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.logoPath","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.hostedPageCSSPath","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.privacyPolicyUrl","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.subscreasyApiKey","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.subscreasySecureKey","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.paymentGateway","in":"query","required":false,"type":"string","enum":["OFFLINE","IYZICO","PAYU","PAYTR","MOBILEXPRESS","AKTIFBANK"]},{"name":"subscriber.company.companyProps.mobilePaymentGateway","in":"query","required":false,"type":"string","enum":["DISABLED","WIRECARD"]},{"name":"subscriber.company.companyProps.wirecardUserCode","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.wirecardPin","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.wirecardTurkcellServisId","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.wirecardSuccessfulMessage","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.wirecardErrorMessage","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.paymentGatewayApiKey","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.paymentGatewaySecurityKey","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.payuMerchantKeyRenewals","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.payuSecretKeyRenewals","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.paytrMerchantId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriber.company.companyProps.mobilExpressMerchantKey","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.mobilExpressApiPassword","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.mobilExpressPosid","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriber.company.companyProps.aktifbankClientId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriber.company.companyProps.aktifbankName","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.aktifbankPassword","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.aktifbankClientIdForSaveCard","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriber.company.companyProps.aktifbankNameForSaveCard","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.aktifbankPasswordForSaveCard","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.aktifbankEncryptionKey","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.billingDate","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriber.company.companyProps.billingThresholdDays","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriber.company.companyProps.domainName","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.contactEmail","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.sendDailyReports","in":"query","required":false,"type":"string"},{"name":"subscriber.company.companyProps.retryCount","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriber.company.companyProps.retryPeriod","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriber.company.companyProps.notifyNewSubscription","in":"query","required":false,"type":"boolean"},{"name":"subscriber.company.companyProps.notifyRenewal","in":"query","required":false,"type":"boolean"},{"name":"subscriber.company.companyProps.notifySubscriptionCancellation","in":"query","required":false,"type":"boolean"},{"name":"subscriber.company.companyProps.branding","in":"query","required":false,"type":"boolean"},{"name":"subscriber.company.companyProps.billingInformationMandatory","in":"query","required":false,"type":"boolean"},{"name":"subscriber.company.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriber.company.name","in":"query","required":false,"type":"string"},{"name":"subscriber.company.siteName","in":"query","required":false,"type":"string"},{"name":"subscriber.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriber.secureId","in":"query","required":false,"type":"string"},{"name":"subscriber.merchantSubscriberId","in":"query","required":false,"type":"string"},{"name":"subscriber.email","in":"query","required":false,"type":"string"},{"name":"subscriber.name","in":"query","required":false,"type":"string"},{"name":"subscriber.surname","in":"query","required":false,"type":"string"},{"name":"subscriber.phoneNumber","in":"query","required":false,"type":"string"},{"name":"subscriber.createDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"subscriber.identificationNo","in":"query","required":false,"type":"string"},{"name":"subscriber.taxNumber","in":"query","required":false,"type":"string"},{"name":"subscriber.taxAdministration","in":"query","required":false,"type":"string"},{"name":"subscriber.worksFor","in":"query","required":false,"type":"string"},{"name":"paymentCard.cardHolderName","in":"query","required":false,"type":"string"},{"name":"paymentCard.cardNumber","in":"query","required":false,"type":"string"},{"name":"paymentCard.expireYear","in":"query","required":false,"type":"string"},{"name":"paymentCard.expireMonth","in":"query","required":false,"type":"string"},{"name":"paymentCard.cvc","in":"query","required":false,"type":"string"},{"name":"paymentCard.registerCard","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paymentCard.cardAlias","in":"query","required":false,"type":"string"},{"name":"paymentCard.cardToken","in":"query","required":false,"type":"string"},{"name":"paymentCard.cardUserKey","in":"query","required":false,"type":"string"},{"name":"paymentCard.cardFamily","in":"query","required":false,"type":"string"},{"name":"savedCard.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"savedCard.cardAlias","in":"query","required":false,"type":"string"},{"name":"savedCard.cardUserKey","in":"query","required":false,"type":"string"},{"name":"savedCard.cardToken","in":"query","required":false,"type":"string"},{"name":"savedCard.binNumber","in":"query","required":false,"type":"string"},{"name":"savedCard.lastFourDigits","in":"query","required":false,"type":"string"},{"name":"savedCard.cartType","in":"query","required":false,"type":"string"},{"name":"savedCard.cardAssociation","in":"query","required":false,"type":"string"},{"name":"savedCard.cardFamily","in":"query","required":false,"type":"string"},{"name":"savedCard.cardBankCode","in":"query","required":false,"type":"integer","format":"int64"},{"name":"savedCard.cardBankName","in":"query","required":false,"type":"string"},{"name":"savedCard.cardCVV","in":"query","required":false,"type":"string"},{"name":"savedCard.expireDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"savedCard.subscriberId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"savedCard.companyId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriberFromDb.billingAddress.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriberFromDb.billingAddress.name","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.billingAddress.streetAddress","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.billingAddress.postalCode","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.billingAddress.city","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.billingAddress.stateProvince","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.billingAddress.country","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.billingAddress.companyId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriberFromDb.shippingAddress.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriberFromDb.shippingAddress.name","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.shippingAddress.streetAddress","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.shippingAddress.postalCode","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.shippingAddress.city","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.shippingAddress.stateProvince","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.shippingAddress.country","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.shippingAddress.companyId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriberFromDb.company.address.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriberFromDb.company.address.name","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.address.streetAddress","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.address.postalCode","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.address.city","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.address.stateProvince","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.address.country","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.address.companyId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriberFromDb.company.companyProps.id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"subscriberFromDb.company.companyProps.callbackUrl","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.logoPath","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.hostedPageCSSPath","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.privacyPolicyUrl","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.subscreasyApiKey","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.subscreasySecureKey","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.paymentGateway","in":"query","required":false,"type":"string","enum":["OFFLINE","IYZICO","PAYU","PAYTR","MOBILEXPRESS","AKTIFBANK"]},{"name":"subscriberFromDb.company.companyProps.mobilePaymentGateway","in":"query","required":false,"type":"string","enum":["DISABLED","WIRECARD"]},{"name":"subscriberFromDb.company.companyProps.wirecardUserCode","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.wirecardPin","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.wirecardTurkcellServisId","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.wirecardSuccessfulMessage","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.wirecardErrorMessage","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.paymentGatewayApiKey","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.paymentGatewaySecurityKey","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.payuMerchantKeyRenewals","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.payuSecretKeyRenewals","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.paytrMerchantId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriberFromDb.company.companyProps.mobilExpressMerchantKey","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.mobilExpressApiPassword","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.mobilExpressPosid","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriberFromDb.company.companyProps.aktifbankClientId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriberFromDb.company.companyProps.aktifbankName","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.aktifbankPassword","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.aktifbankClientIdForSaveCard","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriberFromDb.company.companyProps.aktifbankNameForSaveCard","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.aktifbankPasswordForSaveCard","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.aktifbankEncryptionKey","in":"query","required":false,"type":"string"},{"name":"subscriberFromDb.company.companyProps.billingDate","in":"query","required":false,"type":"integer","format":"int32"},{"name":"subscriberFromD
[...]
